/* footer */
.footerP{
    text-align: center;
    padding: 100px 0;
    font-size: small;
    font-weight: bold;
}
/* Item Count */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.card{
    width: 15rem;
    text-align: center;
    border-radius: 5px;
}
.btnMas{
    padding: 0 8px;
    margin: 0 3px 12px 0;
    border-radius: 5px;
    color: #0d6efd;
    width: 35px;
}
.btnMenos{
    padding: 0 8px;
    margin: 0 3px 12px 0;
    border-radius: 5px;
    color: #0d6efd;
    width: 35px;
}
.btnMas:hover{
    background-color: #0d6efd;
    color: #fafafa;
}
.btnMenos:hover{
    background-color: #0d6efd;
    color: #fafafa;
}
.spanCantidad{
    padding: 15px;
}
/* otro */
.h1Greeting{
    text-align: center;
    color: #333333;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.ah5 {
    color: black;
    text-decoration: none;
}
.ah5:hover {
    color: rgb(97, 97, 97);
}
/* navbar  */
body {
    margin: 0;
    font-family: sans-serif;
}
.imgNav {
    padding: 0px;
    margin: 0;
    max-width: 60px;
}
.nav-item{
    margin-right: 15px;
    margin-left: 15px;
}.nav-item a {
    font-family: sans-serif;
}
.material-icons-outlined{
    color: #181818;
    padding-left: 20px;
    padding-right: 5px;
    transition: all 0.1s;
}
.material-icons-outlined:hover{
    transform: scale(1.3);
}
.lupaNav{
    width: 20px;
}
.cartContainer{
    display: flex;
    opacity: 1 00;
}
.fotoCart{
    max-width: 120px;
}
.btn-danger{
    padding: 1px 8px;
}
.card-img-top{
    max-width: 300px;
}